.employment,
.tech-exp,
.lang-tech,
.educ,
.contact,
.about-me {
  background-color: $color-white;
  min-height: calc(100vh - 64px - 36px);
}

.details {
  &__container {
    background-color: $color-white;
    padding: 10px 00px 20px 20px;
  }

  &__header {
    padding-bottom: 5px;

    &--company-name {
      font-weight: 600;
    }

    &--job-title {
      @include headline();
      margin-left: -25px;
      margin-right: -25px;
    }
  }

  &__task {
    &--header {
      padding-bottom: 5px;
      padding-top: 15px;
    }
  }
}

// v-list
main {
  .list {
    margin-right: 20px;

    li:nth-child(even) {
      background-color: $color-gray !important;
    }
  }
}
