.employment,
.tech-exp,
.lang-tech,
.educ,
.contact {
  min-height: calc(100vh - 64px - 36px);
  background-color: $color-white;
}

.details {
  &__container {
    padding: 10px 00px 20px 20px;
    background-color: $color-white;
  }

  &__header {
    padding-bottom: 5px; 

    &--company {
      &__name {
        font-weight: 600;
      }
    }

    &--job {
      &__title {
        margin-left: -25px;
        margin-right: -25px;
        @include headline();
      }
    }
  }

  &__task {
    &--header {
      padding-top: 15px;
      padding-bottom: 5px;
    }
  }
}

// v-list
main {
  .list {
    margin-right: 20px;

    li:nth-child(even) {
      background-color: $color-gray !important; 
    }
  }
}
